.cuerpo{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/4077186_17580.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    font-family: PT Sans;
}

.parrafoBienvenida{
    text-align: center;
    width: 1200px;
}