.slider-container{
    background-color: black;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #fee600;
    border-top: 5px solid #fee600;
}


.slider{
    height: 500px;
    width: 1200px;
    z-index: 0;
    background-color: black;
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
}
