.carritoDeCompras{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 65px;
    background-image: url(../imagenes/4077186_17580.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.seccionProductosCarrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 300px;
    justify-content: space-around;
    align-items: space-between;
    width: 80%;
    margin-bottom: 10px;
}

.seccionTotal{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    border-top: #F81300 dotted 2px;
}

.botonPagar>button{
    background-color: #F81300;
    padding: 10px;
}