.cuerpoCatalogo{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    background-image: url(../imagenes/4077186_17580.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}