.tarjetaProducto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: #000000;
    color: #fff;
    padding: 5px;
    border: 3px solid #F81300;
    margin: auto;
    margin-top: 50px;

}

.imagenProducto{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

.botonComprar{
    background-color: #F81300;
}